body{
  background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
  color: white;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}


nav a:hover{
  text-decoration: underline;
}

.homepage-header{
margin: 120px 0px;
font-size: bold;
text-align: center;
}

.homepage-h1{
font-size: 40px;
line-height: 2;
}

h2{
  line-height: 3;
  font-size: 30px;
}

header p{
  font-size: 26px;
  margin-bottom: 3px;
}

.country{
  font-size: 14px;
}

.buttons{
 padding: 20px 80px; 
  border-bottom: 1px solid white;
}

.ContactButton{
 padding: 15px 30px;
 border: none;
 border-radius: 26px;
 font-size: 17px;
 margin: 60px 0;
}

.ContactButton:hover{
  background-color: rgb(98, 106, 109);
  color: white; 
  transition: all 150ms ease-in-out; 
}

.project_details{
 text-align: center;
 margin-top: 10px;
 font-size: 40px;
}
 
.align{
  margin: 40px 0;
}

.pop{
  width: 80%;
  border-radius: 6px;
  transition: transform .5s;
}
.pop:hover{
transform: scale(1.2);
}
.side{
  margin-top: 30px;
  font-size: 16px;
}

.homepage-footer{
  text-align: center;
  padding-top: 10px;
}

.footer-homepage-contact{
  font-size: 34px;
}

 footer .homepage-social-links{
display: flex;
justify-content: space-around;
margin: 20px 0;
font-size: 30px;
text-decoration: none;
}

 footer .homepage-social{
border: none;
border-radius: 50%;
background-color: rgb(29, 28, 28);
padding: 10px 20px;
}

.about-h1,
.contact-h1{
  padding-left: 10px;
  text-align: left;
  font-size: bold;
  margin: 120px 0 0 0;
}

.about-p{
font-size: 18px;
padding-left: 10px;
margin-top: 10px;
}

.view-projects{
  text-decoration: underline;
  margin-top: 60px;
  padding-left: 10px;
}

.view-projects a:visited,
.view-projects a:link,
.homepage-social-links a:visited,
.homepage-social-links a:link{
 color: white;
}

.work-image{
  border-radius: 6px;
  margin: 12px 0;
  width: 75%;
}

.work-header{
  margin: 100px 0;
}

.work-info{
  text-align: center;
  font-size: 18px;
  margin-top: 18px;
}

.work-footer{
  margin: 20px 0;
  text-align: center;
  border-top: 1px solid white;
  padding: 16px 0;
}

.work-footer a:visited,
.work-footer a:link{
  color: white;
}


.contact-details{
  text-align: center;
  margin-top: 30px;
}

 .contact-titles{
  font-size: 20px;
}

.contact-titles a:visited,
.contact-titles a:link{
  color: rgb(128, 126, 126);
}
